.section-principal{
    max-width: 37rem;
}
.formulario_login{
    max-width: 30.5rem;
    margin: auto;

    display: flex;
    flex-direction: column;
}
.formulario_login_titulo{
    font-size: var(--h1);
    font-family: 'Roboto', sans-serif;
    color: var(--azul);
}
.formulario_login_titulo span{
    font-size: 3rem;
}
.formulario_login_cajaNombres{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formulario_login label{
    font-size: var(--parrafo);
    color: var(--azul);
    margin-top: 1.6rem;

    display: flex;
    flex-direction: column;
}
.formulario_login_input_nombres{
    max-width: 14.5rem;
    height: 3.5rem;
    border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: var(--parrafo-peque);
    color: var(--grisClaro);

}
.formulario_login_input{
    max-width: 30.3rem;
    height: 3.5rem;
    padding: 1rem;
    border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
    font-size: var(--parrafo-peque);
    color: var(--grisClaro);
}
.boton{
    width: 11.5rem;
    height: 5rem;
    font-size: var(--h3);
    background-color: var(--rosado);
    color: var(--hueso);
    border: none;
    margin-top: 4.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}